@import "antd/dist/antd.css";
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ck-editor__editable .p {
  height: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-theme="compact"]
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
}

.Form-End Button {
  margin: 10px 10px;
}
.Form-End {
  text-align: end;
}

.ant-upload.ant-upload-drag {
  border: 3px dashed rgb(15, 150, 190) !important;
  border-radius: 4px !important;
}
